<!DOCTYPE html>
<html>
<head>
    <title>User Login</title>
</head>
<body>
    <h1>Login Page</h1>

    <form action="/user/login" method="POST">
        <input type="email" name="email" placeholder="Enter email" required><br><br>
        <input type="password" name="password" placeholder="Enter password" required><br><br>
        <button type="submit">Login</button>
    </form>

</body>
</html>